<div class="grid-container">
  <div class="sidebar">
    <%= form_for :move, url: {action: "create", controller: "moves"}, remote: true, authenticity_token: true do |f| %>
      <%= f.text_field :content, style: "width: 90%; display: block; margin: 0 auto 3% auto; font-size: 16px;", data: {textarea: "move"} %>
      <%= f.hidden_field :game_id, value: "lol" %>
      <%= f.submit "send", style: "display: none;", data: {send: "move"} %>
    <% end %>
    <div id="moves">
    </div>
  </div>

  <div class="game">
    <div class="grid" style="grid-template-areas: '<%= "a "*10 %>'">
      <% state = [*0..9].map { |i| [*0..9].map { |j| "#{i}:#{j}" } } %>
      <% state.each do |row| %>
        <% row.each do |label| %>
          <div style="background-color: " class="tile">
            <p>
              <%= label %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
