<div class="grid-container">
  <div class="sidebar">
    <h3>Hi, <%= current_user.name %></h3><br />
    <%= form_for :move, url: move_grids_url, remote: true, authenticity_token: true do |f| %>
      <%= f.text_field :content, style: "width: 90%; display: block; margin: 0 auto 3% auto; font-size: 16px;", data: {textarea: "move"} %>
      <%= f.submit "send", style: "display: none;", data: {send: "move"} %>
    <% end %>
    <div id="moves">
    </div>
  </div>

  <div class="game">
    <div class="grid" id="game-grid" style="grid-template-areas: '<%= [*0..9].map{"a"}.join " "%>'">
      <% grid_state.each do |row| %>
        <% row.each do |label| %>
          <div style="background-color: " class="tile">
            <p>
              <%= label %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div> 
  </div> 
</div>
